*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.247);
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calculator{
    width: 100%;
    max-width: 320px;
    text-align: center;
    background-color: white;
    margin-top: 8em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    outline-color: 2px solid white;
    border-radius: 10px;

}
@media (max-width:500px){
    #calculator{
        margin-top: 1em;
        width: 300px;
    }
}
#display{
    width: 100%;
    font-size: 2.5rem;
    height: 70px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.233);
    padding-left: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 17px;
    margin-top: .8em;
    padding: 0 1em 1em 1em;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: .9;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 2);
}
button:hover{
background-color: rgba(0, 0, 0, 0.322);
transition: 0.2s;
}
button:active{
background-color: rgba(0, 0, 0, 0.089);
}
.sign{
    background-color: orange;
}
.sign:hover{
background-color: rgba(255, 166, 0, 0.623);
transition: 0.2s;
}
.sign:active{
    background-color: rgba(255, 166, 0, 0.459);
}
#multiply{
    padding-top: .5em;
    font-size: 2rem;
}
